$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
//
// $primary: #4F46E5;
$primary: #1aa19c;;
$success:#1dcc70;
$info:#05D0A4;
$warning:#FFB400;
$danger:#e74a3b;
$secondary:#8494A8;
// $light:#f8f9fc;
$light:#E5E5E5;
$dark:#212529;
$muted:#4B5563;
// $mail:#1aa19c;
//? 3. Include remainder of required Bootstrap stylesheets
